<div class="col-xs-7 padding-search">
    <div class="row toolbarsearch" ng-class="{'toolbarsearch-focus': focus}">
        <keyword remove="true" tag="tag1"></keyword>
        <div class="input-group searchinputfield" id="searchinput">
            <input class="md-input" type="text" placeholder="Enter keyword" ng-keypress="onKeyPress($event)"
              ng-model="filter.text" ng-click="onFocus()" ng-blur="focus=false" ng-focus="focus=true">
            <span class="input-group-addon border-search">
                <i class="glyphicon glyphicon-search"></i>
            </span>
         </div>
     </div>
</div>
<div class="col-xs-5 padding-search">
    <span class="searchbtn">
       <button class="btn btn-primary btn-sm" type="button" ng-click="doSearch()">Search</button>
    </span>
    <span class="searchbtn">
        <button class="btn btn-primary btn-sm" type="button" ng-click="resetSearchInput()">Reset</button>
    </span>

    <span class="searchbtn">
        <a href="" class="infobtn" ng-click="showtoolbarSearchInfo()">
             <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </span>
</div>
<div class="col-xs-12 padding-search">
    <div class="row" style="padding-top: 8px;">
        <keyword class="keyword-min" remove="false" tag="tag-abajo"></keyword>
        <keyword class="keyword-min" remove="false" tag="tag-abajo 2"></keyword>
        <keyword class="keyword-min" remove="false" tag="tag-abajo 3"></keyword>
    </div>
</div>
