<div class="col-md-12 component-padding">
    <div style="height: 250px;">
        <rzslider style="top: auto;
        left: 0;
        width: 32px;
        height: 100%;
        padding: 0 0 0 16px;
        margin: 0 0 0 0px;" rz-slider-model="Yaxis.minValue" rz-slider-high="Yaxis.maxValue" rz-slider-options="Yaxis.options"></rzslider>
    </div>

    <div class="bar-graph" id="{{barId}}" ng-class="{disabled: slider.options.disabled}"></div>
    <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
    <legend-histogram dimensions="histogramBarsDimensions"></legend-histogram>
</div>
