<div class="col-md-12 component-padding">
    <div style="height: {{histogramBarsDimensions.barsheight}}px;" class="y-axis-wrap">
        <rzslider class="y-axis" rz-slider-model="Yaxis.minValue" rz-slider-high="Yaxis.maxValue" rz-slider-options="Yaxis.options"></rzslider>
    </div>

    <div class="bar-graph" id="{{barId}}" ng-class="{disabled: slider.options.disabled}"></div>
    <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
    <legend-histogram dimensions="histogramBarsDimensions"></legend-histogram>
</div>
